@model SomerenApp.ViewModels.DrinkOrderViewModel;
@{
	ViewData["Title"] = "Drinks";
}

<div class="text-center">
	<h1 class="display-4 p-3" style="color: #2A7CB3 ">Drink Menu</h1>
</div>

@*Tempdata messages from drinkOrdersController*@
@if (TempData["NullError"] != null)
{
	<div class="alert alert-danger">
		@TempData["NullError"]
	</div>
}

@if (TempData["OrderError"] != null)
{
	<div class="alert alert-succes">
		@TempData["OrderError"]
	</div>
}

@if (TempData["OrderSucces"] != null)
{
	<div class="alert alert-succes">
		@TempData["OrderSucces"]
	</div>
}
<!--Menu List-->

<form asp-action="Create" method="POST" class="form">
	<h4 Class="TextOrder">Place Your Order</h4>

	<div class="form-group py-2">
		<label for="StudentNumber">Select Student:</label>
		<select id="StudentNumber" name="StudentNumber" class="form-control borderColor" required>
			@foreach (var student in Model.Students)
			{
				<option value="@student.StudentNumber">@student.FirstName, @student.LastName</option>
			}
		</select>
	</div>

	<div class="form-group py-2">
		<label for="DrinkId">Select Drink:</label>
		<select id="DrinkId" name="DrinkId" class="form-control borderColor" required>
			@foreach (var student in Model.Drinks)
			{
				<option value="@student.DrinkId">@student.DrinkName</option>
			}
		</select>
	</div>

	<div class="form-group py-2">
		<label for="Count">Amount of drinks:</label>
		<input type="number" id="Count" name="Count" min="1" class="form-control borderColor" required/>
	</div>

	<button type="submit" class="btn my-2" style="background-color: #2A7CB3; color: white">Place Order</button>
</form>

<style>
	.borderColor {
		border: 1.5px solid #88AEC7
	}
	.form{
		background-color: aliceblue;
		padding: 25px;
		width: 50%;
		margin: 8px auto;
		border-radius: 5px;
	}
	.form-group{
		margin: 10px;
	}
	.TextOrder{
		color: #2A7CB3;
		text-align: center;
	}
	.btn{
		background-color: #2A7CB3;
		color: white;
		margin: 10px;
	}
</style>



