@model List<SomerenApp.Models.Student>
@{
	ViewData["Title"] = "Students";
}

<div class="text-center">
	<h1 class="display-4 p-3">Students</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Student number</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Telephone number</th>
			<th>Class</th>
		</tr>
	</thead>
	<tbody>
		@{
			foreach (var student in Model)
			{
				<tr>
					<td>@student.StudentNumber</td>
					<td>@student.FirstName</td>
					<td>@student.LastName</td>				
					<td>@student.TelephoneNumber</td>
					<td>@student.Class</td>
				</tr>
			}
		}
	</tbody>
</table>